@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nuestra misión es brindar atención medica  
    de manera integral tanto a la población local y global,
    para lo cual contamos con un equipo de profesionales 
    altamente calificados entusiasmados a brindar el
    mejor servicio medico, fundamentado en la humanidad, 
    empatía y sobre todo el deseo de poder dar 
    solución a su problema de salud que le aqueja</p>
