@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Calle Padre Borbon #8,
    Madre Vieja Norte,
    San Cristobal<br />

    <abbr title="1">Telefono:</abbr>
    849-628-4162
</address>

<address>
    <strong>Soporte:</strong>   <a href="http://dominicocubano.com/">ConsultorioAna@hotmail.com</a><br />
    <strong>Publicidad:</strong> <a href="http://dominicocubano.com/">ConsultorioAna@hotmail.com</a>
</address>