@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Consultorio Medico Ana</h1>
    <p class="lead">Comprometidos con la Salud</p>
    <p><a href="http://dominicocubano.com/" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Servicio las 24 Horas</h2>
        <p>
            Nuestro centro ofrece servicios de Emergencias, 
            Enfermeria, Ciudados Intensivos, Imagenes, 
            Laboratorio y Cirugia las 24 horas...
        </p>
        <p><a class="btn btn-default" href="http://dominicocubano.com/">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Especialistas Altamente Calificados</h2>
        <p>Nuestro Centro Medico cuenta con un equipo de medicos altamente
        calificados en cada una de sus especialidades. 
        De igual manera el equipo medico que los asisten..</p>
        <p><a class="btn btn-default" href="https://medical-clinic.cmsmasters.net/our-doctors/">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Horario de Consultas</h2>
        <p>De Lunes a Viernes.</p>
        <p><a class="btn btn-default" href="https://medical-clinic.cmsmasters.net/our-doctors/">Leer Mas &raquo;</a></p>
    </div>
</div>